*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(keralaa.jpg);
    background-size: cover;
    background-position: fixed;

}
header{
    background-color:rgb(245, 245, 245);
    height: 70px;
}
#first{
    height: 60px;
    margin-top: 2px;
    margin-left: 40px;
}

nav{
    margin-left: 1000px;
    margin-top: -90px;
}
button{
    border-radius: 30px;
    font-style: oblique;
    font-family: sa;
    padding: 20px 20px 20px 20px ;
    height: 10px;
    margin-left: 25px;
    color: rgb(65, 216, 44);
    background-color: black;
}